<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head >
    <title>School</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">School Management</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/schools}">Schools</a></li>
            <li><a href="#">Students</a></li>

        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">

        <h1>List of schools</h1>
    </div>
    <div class="row">
        <div class="cl-lg-3">

            <a th:href="@{/schools/new}" class="btn btn-primary btn-sm mb-3">
              Add student
            </a>

        </div>

    </div>

    <table class="table table-dark table-striped">
        <thead>
        <tr>

            <th scope="col">School name</th>
            <th scope="col">School location</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="school:${schools}">

            <td  th:text="${school.name}"></td>
            <td  th:text="${school.location}"></td>
            <td>
                <a th:href="@{/schools/edit/{id}(id=${school.id})}" class="btn btn-primary">
Update
                </a>

                <a th:href="@{/schools/delete/{id}(id=${school.id})}" class="btn btn-danger">
                    Delete
                </a>
            </td>


        </tr>

        </tbody>
    </table>
</div>


</body>
</html>