<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head >
    <title>School</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">School Management</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/schools}">Schools</a></li>
            <li><a href="#">Students</a></li>

        </ul>
    </div>
</nav>
<div class="container">
    <form th:action="@{/theme/register}" th:object="${user}" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">user name</label>
            <input type="text"  th:field="*{name}" name="name" class="form-control"  aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input  th:field="*{email}" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input  th:field="*{password}" name="password" type="text" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class=" mt-4 btn btn-primary">Submit</button>
    </form>
</div>


</body>
</html>